#banner {
  height: 55vh;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url("./includes/img/concert.jpg"); // Set the banner image
  background-repeat: no-repeat;
  background-size: cover;
}
