@import "palette.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: 16px;
}

body {
  background: #F8FAFB;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: $color-primary;
}