.nav {
  display: flex;
  background: #0a1626;
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: space-between; // Add spaces between navbar elements
  color: white;
  padding: 10px 30px;
  transition: background 0.3s;
  position: fixed;
  z-index: 999999999999;

  .logo {
    display: block;
    height: 100%;
  }

  ul.nav-links {
    display: flex;
    margin: auto 0px;

    // Add margin before each link
    & > * + * {
      margin-left: 30px;
    }

    li {
      text-align: center;
      display: flex;

      svg {
        padding: 8px 0px;
        text-align: center;
        margin: 0 auto;
      }

      span {
        display: block;
        margin-top: -5px;
      }
    }
  }
}

.search-box {
  display: flex;
  height: 50px;
  margin: auto 0px;
  width: 700px; // Search box initial width
  color: black;

  // Make search box responsive
  @media only screen and (max-width: 1095px) {
    width: 500px;
  }

  @media only screen and (max-width: 915px) {
    width: 400px;
  }

  button {
    background-color: #1d4ed8;
    border-radius: 0px 4px 4px 0px;
    padding: 0px 30px;
    border: 1px solid #1d4ed8;
    border-left: 0px;
    height: 50px;

    &:hover {
      background-color: #1e40b0;
    }

    i {
      color: #e4e4e4;
    }
  }

  input {
    border-radius: 4px 0px 0px 4px;
    height: 50px;

    &::placeholder {
      color: #5a5a5a;
    }
  }
}
