.sidebar {
  background: #f6f7f9;
  border: 1px solid #e7e7e7;
  max-width: 400px; // Sidebar max width
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 77px); // Max height of sidebar minus the navbar height

  .tabs-container {
    display: flex;
    width: 100%;

    .header {
      text-align: center;
      flex: 1;
      padding: 10px;
      background: white;
      border-bottom: 3px solid #e7e7e7;
      cursor: pointer;
      transition: all 0.18s;
      border-bottom: 3px solid #7f90a3;
    }
  }

  // Reservation page sidebar content
  #content {
    padding: 0px 10px;
    flex-direction: column;
    overflow-y: auto;
    max-height: 700px;
    height: 100%;
  }
}

// CMS admin sidebar
#admin-sidebar {
  position: fixed; // Fixed
}

// sidebar item
.tickets-content-card {
  border: 1px solid #dedede;
  padding: 10px;
  background-color: white;
  margin: 10px 0px;
  border-radius: 4px;

  .seat-no {
    color: #7f90a3;
  }

  .abbrevated {
    color: #7f90a3;
  }

  .more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #dedede;
  }
}