.tag {
  background-color: #cbe0f9;
  color: #203c5f;
  padding: 4px 7px;
  border-radius: 50px;
  font-size: 14px;
  display: block;
  transition: all 0.2s;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: #a1c5f1;
  }
}

.tags-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tags-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}