@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: 16px;
}

body {
  background: #F8FAFB;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #414141;
}

.card {
  background-color: #FFFFFF;
  border: 1px solid #F1F1F1;
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(167, 167, 167, 0.25);
  border-radius: 4px;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=date], input[type=time], textarea {
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  padding: 12px 18px;
  font-size: 16px;
  transition: all 0.18s;
  width: 100%;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus, input[type=date]:focus, input[type=time]:focus, textarea:focus {
  outline: none !important;
  border: 1px solid #9ec3fc;
  box-shadow: 0 0 4px #719ece;
}
input[type=text].error, input[type=password].error, input[type=number].error, input[type=email].error, input[type=date].error, input[type=time].error, textarea.error {
  border: 1px solid #f02929;
  box-shadow: 0 0 4px #ce7171;
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
  vertical-align: text-top;
}

button {
  color: #FFFFFF;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
button.primary {
  color: white;
  background-color: #7F90A3;
}
button.primary:hover:enabled {
  background-color: #879cb3;
}
button.cancel {
  color: #7c7c7c;
  background-color: #f0f0f0;
}
button.cancel:hover:enabled {
  background-color: #f5f5f5;
}
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

p.error {
  color: red;
}

#notification {
  position: absolute;
  top: 20px;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(167, 167, 167, 0.25);
  user-select: none;
  cursor: pointer;
}
#notification.error {
  background-color: #FCEDE9;
  border: 1px solid #F2E0DD;
  color: #ff2c2c;
}

.venue-container {
  background: none;
  overflow: scroll;
}
.venue-container .section {
  background: white;
  border: 2px solid #c8c8c8;
  margin: 0 auto;
  position: relative;
}
.venue-container .section:not(:last-child), .venue-container .section:not(:first-child) {
  margin-top: -2px;
}
.venue-container .section .seat-parent {
  position: absolute;
}
.venue-container .section .seat-parent .seat {
  position: absolute;
  background-color: #a4a5a7;
  border-radius: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  margin-top: 50%;
  margin-left: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.venue-container .section .seat-parent .seat.active {
  background-color: #7f90a3;
}
.venue-container .section .seat-parent .seat i {
  color: white;
}

.sidebar {
  background: #F6F7F9;
  border: 1px solid #E7E7E7;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar .tabs-container {
  display: flex;
  width: 100%;
}
.sidebar .tabs-container .header {
  text-align: center;
  flex: 1;
  padding: 10px;
  background: white;
  border-bottom: 3px solid #E7E7E7;
  cursor: pointer;
  transition: all 0.18s;
  border-bottom: 3px solid #7F90A3;
}
.sidebar #content {
  padding: 0px 10px;
  max-height: 700px;
  overflow-y: auto;
  flex-direction: column;
  height: 700px;
}
.sidebar #content .tickets-content-card {
  border: 1px solid #DEDEDE;
  padding: 10px;
  background-color: white;
  margin: 10px 0px;
  border-radius: 4px;
}
.sidebar #content .tickets-content-card .seat-no {
  color: #7F90A3;
}
.sidebar #content .tickets-content-card .abbrevated {
  color: #7F90A3;
}
.sidebar #content .tickets-content-card .more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #DEDEDE;
}

/*# sourceMappingURL=styles.css.map */
