@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: 16px;
}

body {
  background: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5 {
  color: #414141;
}

.wrapper {
  margin: 0px 100px;
}
@media only screen and (min-width: 372px) {
  .wrapper {
    margin: 0px 10px;
  }
}
@media only screen and (min-width: 700px) {
  .wrapper {
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 900px) {
  .wrapper {
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 1366px) {
  .wrapper {
    margin: 0px 100px;
  }
}

table {
  width: 100%;
}
table tr th {
  font-weight: 600;
  color: #2e2e2e;
}
table tr th, table tr td {
  text-align: left;
  padding: 8px 20px;
}
table tr:nth-child(even) {
  background-color: #f3f7fa;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.card {
  background-color: #FFFFFF;
  border: 1px solid #F1F1F1;
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(167, 167, 167, 0.25);
  border-radius: 4px;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=date], input[type=time], input[type=submit], textarea {
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  padding: 12px 18px;
  font-size: 16px;
  transition: all 0.18s;
  width: 100%;
}
input[type=text].primary, input[type=password].primary, input[type=number].primary, input[type=email].primary, input[type=date].primary, input[type=time].primary, input[type=submit].primary, textarea.primary {
  color: white;
  background-color: #7F90A3;
}
input[type=text].primary:hover:enabled, input[type=password].primary:hover:enabled, input[type=number].primary:hover:enabled, input[type=email].primary:hover:enabled, input[type=date].primary:hover:enabled, input[type=time].primary:hover:enabled, input[type=submit].primary:hover:enabled, textarea.primary:hover:enabled {
  background-color: #879cb3;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus, input[type=date]:focus, input[type=time]:focus, input[type=submit]:focus, textarea:focus {
  outline: none !important;
  border: 1px solid #9ec3fc;
  box-shadow: 0 0 4px #719ece;
}
input[type=text].error, input[type=password].error, input[type=number].error, input[type=email].error, input[type=date].error, input[type=time].error, input[type=submit].error, textarea.error {
  border: 1px solid #f02929;
  box-shadow: 0 0 4px #ce7171;
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
  vertical-align: text-top;
}

button {
  color: #FFFFFF;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
button.primary {
  color: white;
  background-color: #7F90A3;
}
button.primary:hover:enabled {
  background-color: #879cb3;
}
button.warning {
  color: white;
  background-color: #e03232;
}
button.warning:hover:enabled {
  background-color: #fd3e3e;
}
button.edit {
  color: white;
  background-color: #108816;
}
button.edit:hover:enabled {
  background-color: #17a71e;
}
button.cancel {
  color: #7c7c7c;
  background-color: #f0f0f0;
}
button.cancel:hover:enabled {
  background-color: #f5f5f5;
}
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

p.error {
  color: red;
}

#notification {
  position: absolute;
  top: 20px;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(167, 167, 167, 0.25);
  user-select: none;
  cursor: pointer;
}
#notification.error {
  background-color: #FCEDE9;
  border: 1px solid #F2E0DD;
  color: #ff2c2c;
}

.venue-container {
  background: none;
  overflow: scroll;
  padding: 40px;
}
.venue-container .section {
  background: white;
  border: 2px solid #c8c8c8;
  margin: 0 auto;
  position: relative;
}
.venue-container .section:not(:last-child), .venue-container .section:not(:first-child) {
  margin-top: -2px;
}
.venue-container .section .seat-parent {
  position: absolute;
}
.venue-container .section .seat-parent .seat {
  position: absolute;
  background-color: #a4a5a7;
  border-radius: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  margin-top: 50%;
  margin-left: 50%;
  transition: 0.3s;
}
.venue-container .section .seat-parent .seat.active {
  background-color: #0f1d30;
}
.venue-container .section .seat-parent .seat i {
  color: white;
}

.sidebar {
  background: #f6f7f9;
  border: 1px solid #e7e7e7;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 77px);
}
.sidebar .tabs-container {
  display: flex;
  width: 100%;
}
.sidebar .tabs-container .header {
  text-align: center;
  flex: 1;
  padding: 10px;
  background: white;
  border-bottom: 3px solid #e7e7e7;
  cursor: pointer;
  transition: all 0.18s;
  border-bottom: 3px solid #7f90a3;
}
.sidebar #content {
  padding: 0px 10px;
  flex-direction: column;
  overflow-y: auto;
  max-height: 700px;
  height: 100%;
}
.sidebar #content .tickets-content-card {
  border: 1px solid #dedede;
  padding: 10px;
  background-color: white;
  margin: 10px 0px;
  border-radius: 4px;
}
.sidebar #content .tickets-content-card .seat-no {
  color: #7f90a3;
}
.sidebar #content .tickets-content-card .abbrevated {
  color: #7f90a3;
}
.sidebar #content .tickets-content-card .more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #dedede;
}

#admin-sidebar {
  position: fixed;
}

.nav {
  display: flex;
  background-color: #0a1626;
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px 30px;
}
.nav .search-box {
  display: flex;
  height: 40px;
  margin: auto 0px;
  width: 700px;
  color: black;
}
@media only screen and (max-width: 1095px) {
  .nav .search-box {
    width: 500px;
  }
}
@media only screen and (max-width: 915px) {
  .nav .search-box {
    width: 400px;
  }
}
.nav .search-box button {
  background-color: #dadada;
  border-radius: 0px 4px 4px 0px;
  padding: 0px 30px;
  border: 1px solid #e2e2e2;
  border-left: 0px;
}
.nav .search-box button:hover {
  background-color: #ebebeb;
}
.nav .search-box button i {
  color: #3c4044;
}
.nav .search-box input {
  border-radius: 4px 0px 0px 4px;
}
.nav .logo {
  display: block;
  height: 100%;
}
.nav ul.nav-links {
  display: flex;
  margin: auto 0px;
}
.nav ul.nav-links > * + * {
  margin-left: 30px;
}
.nav ul.nav-links li {
  text-align: center;
  display: flex;
}
.nav ul.nav-links li i {
  width: 100%;
  padding: 8px 0px;
  font-size: 20px;
}
.nav ul.nav-links li span {
  display: block;
  margin-top: -5px;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
}
.container ul {
  list-style: none;
}

.footer {
  margin-top: 90px;
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
#banner {
  height: 55vh;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url("./includes/img/concert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.events-card.shrinked {
  flex-direction: column;
}
.events-card.shrinked .event-title {
  width: 100%;
}
.events-card.shrinked .event-content {
  margin: 0px !important;
}
.events-card.shrinked .event-img {
  height: 300px;
  object-fit: cover;
  background-color: white;
  margin-bottom: 20px;
}
.events-card.shrinked .event-button-container {
  margin: 0px !important;
  margin-top: 20px !important;
}
.events-card.shrinked .event-button-container button {
  width: 100%;
}

.tag {
  background-color: #CBE0F9;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 14px;
  display: block;
}

.dashboard-content {
  margin-left: 250px !important;
  width: auto;
  position: relative;
  overflow: auto;
  z-index: 1;
}

/*# sourceMappingURL=styles.css.map */
