@import "../palette.scss";

input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  padding: 12px 18px;
  font-size: 16px;
  transition: all 0.18s;

  &:focus {
    outline: none !important;
    border: 1px solid rgb(158, 195, 252);
    box-shadow: 0 0 4px #719ece;
  }

  &.error {
    border: 1px solid #f02929;
    box-shadow: 0 0 4px #ce7171;
  }
}