.venue-container {
  background: rgb(255, 255, 255);

  .section {
    background: white;
    border: 2px solid #C8C8C8;
    margin: 0 auto;
    position: relative;

    &:not(:last-child), &:not(:first-child) {
      margin-top: -2px;
    }

    .seat-parent {
      position: absolute;

      .seat {
        position: absolute;
        background-color: #A4A5A7;
        border-radius: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        margin-top: 50%;
        margin-left: 50%;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #7F90A3;
        }

        &.active {
          background-color: #7F90A3;
        }

        i {
          color: white;
        }
      }
    }
  }
}