button {
  color: #FFFFFF;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;

  &.primary {
    color: white;
    background-color: #7F90A3;
    &:hover:enabled {
      background-color: #879cb3;
    }
  }

  &.cancel {
    color: rgb(124, 124, 124);
    background-color: #f0f0f0;
    &:hover:enabled {
      background-color: #f5f5f5;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}