button {
  color: #FFFFFF;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;

  // pale blue
  &.primary {
    color: white;
    background-color: #7F90A3;
    &:hover:enabled {
      background-color: #879cb3;
    }
  }

  // red
  &.warning {
    color: white;
    background-color: #e03232;
    &:hover:enabled {
      background-color: #fd3e3e;
    }
  }

  // green
  &.edit {
    color: white;
    background-color: #108816;
    &:hover:enabled {
      background-color: #17a71e;
    }
  }

  // cancel
  &.cancel {
    color: rgb(124, 124, 124);
    background-color: #f0f0f0;
    &:hover:enabled {
      background-color: #f5f5f5;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}