@import "../palette.scss";

// Default styling for common field inputs
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="submit"],
textarea {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 12px 18px;
  font-size: 16px;
  transition: all 0.18s;
  width: 100%;

  // Deault input background color to match overall theme of the website
  &.primary {
    color: white;
    background-color: #7f90a3;
    &:hover:enabled {
      background-color: #879cb3;
    }
  }

  &:focus {
    outline: none !important;
    border: 1px solid #1C64F2;
  }

  &.error {
    border: 1px solid #f02929;
    box-shadow: 0 0 4px #ce7171;
  }

  &::placeholder {
    color: #5a5a5a;
  }
}

// Make input checkbox bigger
input[type="checkbox"] {
  height: 20px;
  width: 20px;
  vertical-align: text-top;
}

input[type="file"] {
  &.error {
    border: 1px solid #f02929;
    box-shadow: 0 0 4px #ce7171;
  }
}
