@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: 16px;
}

body {
  background: #F8FAFB;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #414141;
}

.card {
  background-color: #FFFFFF;
  border: 1px solid #F1F1F1;
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(167, 167, 167, 0.25);
}

input[type=text], input[type=password], input[type=number], input[type=email] {
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  padding: 12px 18px;
  font-size: 16px;
  transition: all 0.18s;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus {
  outline: none !important;
  border: 1px solid #9ec3fc;
  box-shadow: 0 0 4px #719ece;
}
input[type=text].error, input[type=password].error, input[type=number].error, input[type=email].error {
  border: 1px solid #f02929;
  box-shadow: 0 0 4px #ce7171;
}

button {
  color: #FFFFFF;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
button.primary {
  color: white;
  background-color: #7F90A3;
}
button.primary:hover:enabled {
  background-color: #879cb3;
}
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

p.error {
  color: red;
}

#notification {
  position: absolute;
  top: 20px;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(167, 167, 167, 0.25);
  user-select: none;
  cursor: pointer;
}
#notification.error {
  background-color: #FCEDE9;
  border: 1px solid #F2E0DD;
  color: #ff2c2c;
}

.venue-container {
  background: white;
}
.venue-container .section {
  background: white;
  border: 2px solid #c8c8c8;
  margin: 0 auto;
  position: relative;
}
.venue-container .section:not(:last-child), .venue-container .section:not(:first-child) {
  margin-top: -2px;
}
.venue-container .section .seat-parent {
  position: absolute;
}
.venue-container .section .seat-parent .seat {
  position: absolute;
  background-color: #a4a5a7;
  border-radius: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  margin-top: 50%;
  margin-left: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.venue-container .section .seat-parent .seat.active {
  background-color: #7f90a3;
}
.venue-container .section .seat-parent .seat i {
  color: white;
}

.sidebar {
  background: #F6F7F9;
  border: 1px solid #E7E7E7;
  max-width: 400px;
}
.sidebar .tabs-container {
  display: flex;
  width: 100%;
}
.sidebar .tabs-container .tab {
  text-align: center;
  flex: 1;
  padding: 10px;
  background: white;
  border-bottom: 3px solid #E7E7E7;
  cursor: pointer;
  transition: all 0.18s;
}
.sidebar .tabs-container .tab:hover {
  background: #f1f1f1;
}
.sidebar .tabs-container .tab.active {
  border-bottom: 3px solid #7F90A3;
}
.sidebar .tabs-container .tab:first-child {
  border-right: 0.5px solid #E7E7E7;
}
.sidebar .tabs-container .tab:last-child {
  border-left: 0.5px solid #E7E7E7;
}
.sidebar .tabs-container .tab:not(:first-child), .sidebar .tabs-container .tab :not(:last-child) {
  border-left: 0.5px solid #E7E7E7;
  border-right: 0.5px solid #E7E7E7;
}

/*# sourceMappingURL=styles.css.map */
